page-index {
  #play-button{
    text-align: center;
    .start-button{
      width:150px;
      height:150px;
      border-radius: 50%;
      border:1px solid #0c60ee;
      background-color: #0c60ee;
      color: #fff;
      font-size:2em;
    }
  }
}
