page-index {
  form{
    margin-top: 90px;
    text-align: center;
    .start-button{
      width:150px;
      height:150px;
      border-radius: 50%;
      border:1px solid #0c60ee;
      background-color: #0c60ee;
      color: #fff;
      font-size:2em;

      margin-top: 10px;
    }
  }
}
